<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/semantic.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="" href="{% static 'css/cousom.css' %}">
    </head>
    <body style="background-color:#e5e5e5">
    <div class="ui fixed inverted menu">
        <a href="" class="item">首页</a>
        <a href="{% url 'index' %}" class="item">个人的分享</a>
        <a href="" class="item">音乐最安全</a>

        <div class="right menu">
        <a href="https://github.com/RBtzw" class="item">github</a>
        <a href="https://www.zhihu.com/people/li-han-sheng-99/activities" class="item">知乎</a>
        <a href="tencent://message/?uin=309096436&Site=400301.com&Menu=yes" class="item">QQ</a>
        </div>
    </div>

    <div class="ui vertical basic segment yetou">
        <div class="ui basic segment" style="top:200px">
            <h1 class="ui inverted center aligned header" style="font-size:50px;">我是李翰生——Escape Rango</h1>
        </div>
        
        
        <div class="ui grid">
            <div class="ui five wide column">
                
            </div>
            <div class="ui six wide column">

                <div class="ui segment jieshao">
                    <div class="ui grid">
                        <div class="ui five wide column">
                            <img class="ui circular image" src="{% static 'images/1.jpg' %}" alt="" style="width:130px;height:130px;">
                        </div>
                        <div class="ui ten wide column">
                            <h3 class="ui center aligned header">我是李翰生，也是Escape Rango，爱用最不靠谱的方式旅行，爱布鲁斯音乐，爱计算机</h3>
                            <p>旅行是我一直的追求，我喜欢感受别人纯粹的善意，因此在2015年搭车走完滇藏线，我此生最大的理想就是能在欧洲旅行，见识大航海时代的伟大城市</p>
                        </div>
                        <div class="ui inverted divider"></div>
                        <p></p>
                        <h4 class="ui center aligned header">本网站仅为个人网站，分享互联网知识及行记，我会不定时更新网站技术，以达到更好的效果，跟更多人分享</h4>
                    </div>
                    
                </div>
                <h3 class="ui justified header">实在没工夫写前端了，毕竟我的重点是在后端，先将就的用一张摄影填充，我会一步步的填充的！！</h3>
            </div>
            <div class="ui five wide column">
                
            </div>
            
        </div>
    </div>

    <div class="ui grid">
        <div class="ui three wide column">
            
        </div>
        <div class="ui ten wide column zhengwen">
            <div class="ui center aligned basic segment zhengwen">
                <img src="{% static 'images/4.jpg' %}" alt="">
            </div>
            <div class="ui center aligned basic segment zhengwen">
                <img src="{% static 'images/4.jpg' %}" alt="">
            </div>
            <div class="ui center aligned basic segment zhengwen">
                <img src="{% static 'images/4.jpg' %}" alt="">
            </div>
            <div class="ui center aligned basic segment zhengwen">
                <img src="{% static 'images/4.jpg' %}" alt="">
            </div>
            <div class="ui center aligned basic segment zhengwen">
                <img src="{% static 'images/4.jpg' %}" alt="">
            </div>
            <div class="ui inverted blue divider"></div>
            <p style="text-align:center; font-family:kaiti">特别感谢<a href="tencent://message/?uin=1356743093&Site=400301.com&Menu=yes">林恒源</a>的摄影作品</p>
            <p style="text-align:center; font-family:kaiti">本网站仅为个人网站，不做任何商业用途，工作请联系本人邮箱: <a href="mailto:309096436@qq.com">309096436@qq.com</a></p>
        </div>
        <div class="ui three wide column">
            
        </div>
    </div>
    </body>
</html>